* {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans','Helvetica Neue',sans-serif;
}


.header1 {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    flex-wrap: nowrap;
    min-width: 100%;
    position: fixed;
    min-height: 30px;
    border-style: none none solid none;
    border-color: #b9b9b9;
    border-width: 1px;
    align-items: center;
}

.dropdown {
    min-width: 5em;
    position: flex;
    justify-content: space-between;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #ffffff solid;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select:hover {
    background: #b9b9b9;
}

.caret {
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid rgb(0, 0, 0);
    transition: 0.3s;
    transform: rotate(135deg);
}

.caret-rotate {
    transform: rotate(315deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #ffffff;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2); 
    color: #000000;
    position: absolute;
    top: 3em;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #b8b8b8;
}

.active {
    background: #ffffff;
}

.menu-open {
    display: block;
    opacity: 1;
}

.logo {
    margin-left: 30px;
}


.direita {
    margin-top: 1%;
    width: 35px;
    height: 40px;
    filter: invert(30%);
}

.direita2 {
    margin-top: 1%;
    margin-left: 10px;
    width: 40px;
    height: 45px;
    filter: invert(30%);
}

.direita:hover {
    background-color: #b8b8b8;
}

.direita2:hover {
    background-color: #b8b8b8;
}

.parte1 {
    background-color: #f0f0f0;
    border-style: solid none solid none;
    border-color: #b9b9b9;
    border-width: 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comeco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    display: flex;
    margin-top: 10%;
    flex-wrap: nowrap;
    max-width: 450px;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.22;
    font-size: calc(2.35rem + .375 * ((100vw - 42rem)/ 24));
    margin-bottom: 50px;
    text-align: center;
}

.texto1 {
    display: flex;
    flex-wrap: nowrap;
    max-width: 450px;
    color: #5a5a5a;
    font-family: 'IBM Plex Sans','Helvetica Neue',sans-serif;
    line-height: 1.3;
    letter-spacing: 0;
    font-size: 1.26rem;
    font-size: calc(1.35rem + 0 * ((100vw - 20rem)/ 62));
    text-align: justify;

}

.cabeca {
    display: flex;
    justify-content: space-between;
}

.relatorio {
    max-width: 210px;
    max-height: 50px;
    margin-top: 35px;
    margin-left: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid rgb(36, 36, 255);
    background-color: rgb(36, 36, 255);
}

.relatorio2 {
    margin-top: 7%;
    color: white;
}

.seta {
    filter: invert(100%);
}

.relatorio:hover {
    background-color: rgb(0, 0, 255);
    border: solid rgb(0, 0, 255);
    transition: all 0.5s;
}

.bloodsport {
    margin-top: 3%;
}

.navegar {
    background-color: #f0f0f0;
    border-style: none none solid none;
    border-color: #b9b9b9;
    border-width: 1px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blocoNav {
    margin: 0;
}

.blocoNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.itemNav {
    width: 190px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
}

.itemNav:hover {
    background-color: rgba(0, 0, 148, 0.1);
    transition: all 0.5s;
}

.navegar2 {
    margin-left: 7%;
    margin-bottom: 0;
    padding-bottom: 0;
}

#sc1{
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#sc2{
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
}

#sc3{
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    

}

#sc4{
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0f0f0;
}

.a1 {
    font-family: 'IBM Plex Sans','Helvetica Neue',sans-serif; 
    text-decoration: none;
    color: #000000;
}

h3{
    padding-top: 15px;
    font-size: 1.6rem;
    font-size: calc(1.6rem + 0 * ((100vw - 20rem)/ 62));
}

.itenssc2 {
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    max-width: fit-content;
}

.itenssc2 ul, li {
    display: inline-flex;
    list-style: none;
}

.itemsc2 {
    font-size: 14px;
    margin-right: 10px;
}

.itenssc4 {
    display: inline-flex;   
}

.itenssc4 a {
    padding: 5%;
    min-width: fit-content;
    color:#000;
    font-weight: 700;
}

.sc4Ul {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.sc4Li {
    min-width: max-content;
    font-weight: 700;
}

.liSub {
    color: #5a5a5a;
}

.geralsc4 {
    display: flex;
    justify-content: space-between;
}

.geralsc4 span {
    font-size: 10px;
    color: #b8b8b8;
}

.login {
    margin-right: 30px;
}