* {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Sans','Helvetica Neue',sans-serif;
}


.header1 {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    font-size: 15px;
    flex-wrap: nowrap;
    min-width: 100%;
    position: fixed;
    min-height: 30px;
    border-style: none none solid none;
    border-color: #b9b9b9;
    border-width: 1px;
    align-items: center;
    z-index: 3;
}

.dropdown {
    min-width: 5em;
    position: flex;
    justify-content: space-between;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #ffffff solid;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.select:hover {
    background: #b9b9b9;
}

.caret {
    margin-left: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid rgb(0, 0, 0);
    transition: 0.3s;
    transform: rotate(135deg);
}

.caret-rotate {
    transform: rotate(315deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #ffffff;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2); 
    color: #000000;
    position: absolute;
    top: 3em;
    left: 50%;
    width: fit-content;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: #b8b8b8;
}

.active {
    background: #ffffff;
}

.menu-open {
    display: block;
    opacity: 1;
}

.logo {
    margin-left: 30px;
}


.direita {
    margin-top: 1%;
    width: 35px;
    height: 40px;
    filter: invert(30%);
}

.direita2 {
    margin-top: 1%;
    margin-left: 10px;
    width: 40px;
    height: 45px;
    filter: invert(30%);
}

.direita:hover {
    background-color: #b8b8b8;
}

.direita2:hover {
    background-color: #b8b8b8;
}

.parte1 {
    background-color: #111;
    border-style: solid none solid none;
    border-color: #252525;
    border-width: 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#particles{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.comeco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    display: flex;
    margin-top: 10%;
    flex-wrap: nowrap;
    max-width: 450px;
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.22;
    font-size: calc(2.35rem + .375 * ((100vw - 42rem)/ 24));
    margin-bottom: 50px;
    text-align: center;
    color: #ffffff;
    text-shadow:
    0 0 10px #686868;
}

.texto1 {
    display: flex;
    flex-wrap: nowrap;
    max-width: 450px;
    color: #ffffff;
    font-family: 'IBM Plex Sans','Helvetica Neue',sans-serif;
    line-height: 1.3;
    letter-spacing: 0;
    font-size: 1.26rem;
    font-size: calc(1.35rem + 0 * ((100vw - 20rem)/ 62));
    text-align: justify;
    text-shadow:
    0 0 10px #686868;
}

.cabeca {
    display: flex;
    justify-content: space-between;
}

.bloodsport {
    margin-top: 3%;
    margin-bottom: 3%;
}

.navegar {
    background-color: #111;
    border-style: solid none solid none;
    border-color: #252525;
    border-width: 1px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blocoNav {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0;
}

.blocoNav li {
    color: #fff;
    text-align: center;
    justify-content: center;
}

.blocoNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.itemNav {
    width: 190px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
}

.itemNav:hover {
    background-color: rgba(41, 41, 41, 0.1);
    transition: all 0.5s;
}

.navegar2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

#sc1{
    background-repeat: no-repeat;
    background-size: cover;
}

#sc2{
    background-repeat: no-repeat;
    background-size: cover;
}

#sc3{
    background-repeat: no-repeat;
    background-size: cover;
}

#sc4{
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
}

.a1 {
    font-family: 'IBM Plex Sans','Helvetica Neue',sans-serif; 
    text-decoration: none;
    color: #000000;
}

h3{
    padding-top: 15px;
    font-size: 1.6rem;
    font-size: calc(1.6rem + 0 * ((100vw - 20rem)/ 62));
}

.itenssc2 {
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    max-width: fit-content;
}

.itenssc2 ul, li {
    display: inline-flex;
    list-style: none;
}

.itemsc2 {
    font-size: 14px;
    margin-right: 10px;
}

.itenssc4 {
    display: inline-flex;   
}


.sc4Ul {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.sc4Li {
    min-width: max-content;
    color: #dbdbdb;
    font-weight: 700;
    text-shadow:
    0 0 10px #686868;
}

.liSub {
    color: #dbdbdb;
    text-shadow:
    0 0 10px #686868;
}

.geralsc4 {
    display: flex;
    justify-content: space-between;
}

.geralsc4 span {
    font-size: 10px;
    color: #b8b8b8;
}

.login {
    margin-right: 30px;
}

.bloodsport {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
}

.parte1 {
    background-color: #111;
    border-style: solid none solid none;
    border-color: #252525;
    border-width: 1px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0; /* Keep this as is */
    position: relative;
}

#particles {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; /* Set a higher z-index for particles */
}

.parte2 {
    /* Add a higher z-index for parte2 if needed */
    z-index: 3;
    position: relative;
}

main {
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main div {
    width: 100%;
}

#features{
    background-color: #111;
    padding: 40px;
}

#features .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

#features .header h1{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

#features .header a{
    text-decoration: none;
    font-size: 1.3em;
    color: #fff;
    border: 1px solid transparent;
    padding: 10px 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 6px;
    transition: all 0.3s ease;
}

#features .header a:hover{
    border-color: #fff;
    box-shadow: none;
}

#features .card{
    padding: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    display: flex;
    gap: 30px;
    border: 1px solid #111;
    transition: all 0.3s ease;
    justify-content: space-around;
}

#features .card:hover{
    border-color: #fff;
    box-shadow: none;
}

#features .card .info h1{
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'IBM Plex Sans','Helvetica Neue',sans-serif;
}

#features .card .info p{
    color: #ccc;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

#features .feature-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

#features .feature-cards .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 350px;
}

#features .feature-cards .card .info i{
    color: #fff;
    font-size: 8rem;
    width: 100%;
    text-align: center;
    margin-bottom: 1.4rem;
}

#features .feature-cards .card .info h1{
    text-align: center;
}

#features .feature-cards .card .info p{
    font-size: 1.1rem;
}

.card {
    background: linear-gradient(45deg,#452432,#1f2c35);
}
.card img {
    width: 100%;
    height: auto;
    padding: 50px;
}

.price {
    font-weight: bold;
    color: #008000;
}

@media (max-width: 768px) {
    .login {
        display: none;
    }
    .logo {
        width: 50px;
    }
    .titulo {
        margin-top: 27%;
    }
    #features .feature-cards .card {
        min-width: 280px;
    }
    .itenssc4 {
        flex-direction: column;
    }
    .sc4Ul {
        margin-bottom: 5px;
        padding: 1% 1%;
    }
}
